<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="ShareX">
        <dir
          name="CaptureHelpers"/>
        <dir
          name="Controls"/>
        <dir
          name="Forms"/>
        <dir
          name="Properties"/>
        <dir
          name="StartupManagers"/>
      </dir>
      <dir
        name="ShareX.HelpersLib">
        <dir
          name="CLI"/>
        <dir
          name="Colors"/>
        <dir
          name="Controls">
          <dir
            name="BlackStyle"/>
        </dir>
        <dir
          name="Cryptographic"/>
        <dir
          name="DNS"/>
        <dir
          name="Extensions"/>
        <dir
          name="Forms"/>
        <dir
          name="GIF"/>
        <dir
          name="Helpers"/>
        <dir
          name="Input"/>
        <dir
          name="NameParser"/>
        <dir
          name="Native"/>
        <dir
          name="Printer"/>
        <dir
          name="Properties"/>
        <dir
          name="Random"/>
        <dir
          name="Settings"/>
        <dir
          name="UITypeEditors"/>
        <dir
          name="UpdateChecker"/>
        <dir
          name="Zip"/>
      </dir>
      <dir
        name="ShareX.HistoryLib">
        <dir
          name="Forms"/>
        <dir
          name="Properties"/>
      </dir>
      <dir
        name="ShareX.ImageEffectsLib">
        <dir
          name="Adjustments"/>
        <dir
          name="Drawings"/>
        <dir
          name="Filters"/>
        <dir
          name="Forms"/>
        <dir
          name="Manipulations"/>
        <dir
          name="Properties"/>
      </dir>
      <dir
        name="ShareX.IndexerLib">
        <dir
          name="Forms"/>
        <dir
          name="Properties"/>
      </dir>
      <dir
        name="ShareX.MediaLib">
        <dir
          name="Forms"/>
        <dir
          name="Properties"/>
      </dir>
      <dir
        name="ShareX.NativeMessagingHost">
        <dir
          name="Properties"/>
      </dir>
      <dir
        name="ShareX.ScreenCaptureLib">
        <dir
          name="Animations"/>
        <dir
          name="Forms"/>
        <dir
          name="Properties"/>
        <dir
          name="RegionHelpers"/>
        <dir
          name="Screencast"/>
        <dir
          name="Shapes">
          <dir
            name="Drawing"/>
          <dir
            name="Effect"/>
          <dir
            name="Region"/>
          <dir
            name="Tool"/>
        </dir>
      </dir>
      <dir
        name="ShareX.Setup">
        <dir
          name="Properties"/>
      </dir>
      <dir
        name="ShareX.Steam">
        <dir
          name="Properties"/>
      </dir>
      <dir
        name="ShareX.UploadersLib">
        <dir
          name="APIKeys"/>
        <dir
          name="BaseServices"/>
        <dir
          name="BaseUploaders"/>
        <dir
          name="Controls"/>
        <dir
          name="CustomUploader"/>
        <dir
          name="FileUploaders"/>
        <dir
          name="Forms"/>
        <dir
          name="Helpers"/>
        <dir
          name="ImageUploaders"/>
        <dir
          name="OAuth"/>
        <dir
          name="OtherServices"/>
        <dir
          name="Properties"/>
        <dir
          name="SharingServices"/>
        <dir
          name="TextUploaders"/>
        <dir
          name="URLShorteners"/>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="C#"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""/>
  <csharp_options
    analyze_reference_dlls="true"
    count_standard_in_max_inheritance="false"
    locate_system_classes="UseDefaultFramework"
    save_comments_associated_with_entities="true"/>
  <imports>
    <files>
      <file
        name="./ShareX.sln"
        configuration="Debug|Any CPU"/>
    </files>
  </imports>
</project>
